
services:

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: alex123
      POSTGRES_DB: resumes
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
  app:
    build: .
    restart: always
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:postgresql://db:5432/resumes
      DB_USER: postgres
      DB_PASSWORD: alex123
    depends_on:
     db:
      condition: service_healthy
    volumes:
      - ./config/resume-docker.properties:/usr/local/tomcat/config/resume.properties

volumes:
 pgdata: